* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  color: #0e0d0d;
}

.app {
  min-height: 100vh;
}

.header {
  text-align: center;
  padding: 40px 20px;
  background: #0f23d4;
  color: white;
}

.header h1 {
  margin: 0 0 10px;
}

.header p {
  margin: 0;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 20px;
}

main h2 {
  text-align: center;
  margin-bottom: 25px;
}

.menu {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(220px, 1fr)
  );
  gap: 20px;
}

.dish {
  background: rgb(254, 255, 254);
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.9);
}

.dish h3 {
  margin-top: 0;
}

.dish p {
  font-weight: bold;
}